absl-py
aiofiles
aiohttp
aiohttp-retry
alembic
altair
amqp
anyio
argon2-cffi
attrs
Automat

Babel
beautifulsoup4
bleach
boto3
botocore
cachetools
celery
certifi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
dataclasses-json
dataset
datasets
debugpy
decorator
dill
distlib
dj-database-url
Django
django-allauth
django-cors-headers
django-crispy-forms
django-extensions
django-heroku
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
django-simple-captcha
django-recaptcha
docstring_parser
drf-yasg
einops
environs
executing
fastapi
fastjsonschema
filelock
fire

flatbuffers
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-resumable-media
googleapis-common-protos
gradio
gradio_client

h11
httpcore
httpx
httpx-sse
hyperlink
importlib_resources
incremental
ipykernel
ipython
ipywidgets
isodate
isoduration
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications


Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mistune
ml-dtypes
multiprocess
mysql-connector-python
mysqlclient
narwhals
nbclient
nbconvert
nbformat
networkx
notebook
numpy
oauthlib
opencv-python
opt-einsum
orjson
overrides
packaging
pandas
pandocfilters
parameterized
parsel
parso
phonenumbers
pillow
platformdirs
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg
psycopg2
psycopg2-binary
pyarrow
pydantic
pydeck
Pygments
PyJWT
PyMySQL
pyparsing
PyPDF2
python-dateutil
python-decouple
python-dotenv
python-json-logger
python3-openid
pytz
PyWavelets
pyzmq
qrcode
qtconsole
QtPy
rapidfuzz
regex
reportlab
requests
requests-file
requests-oauthlib
rich
rsa
ruff
s3transfer
safetensors
scipy
Scrapy
semantic-version
Send2Trash
sentencepiece
service-identity
setuptools
shapely
shellingham
six
smmap
sniffio
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
stripe
sympy
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
tinycss2
tldextract
tokenizers
toml
tomlkit
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uvicorn
waitress
watchdog
wcwidth
webcolors
websocket-client
websockets
Werkzeug
wheel
whitenoise
widgetsnbextension
wrapt
xxhash
yarl

